<h1><%= @merchant.name %></h1>

<%= link_to 'My Items', merchant_items_path(@merchant) %>

<%= link_to 'My Invoices', merchant_invoices_path(@merchant) %>

<% @merchant.top_five_customers.each do |customer| %>
  <%= customer.first_name + ' ' + customer.last_name %>
  <br>
<% end %>

<h3>Items Ready to Ship</h3>

<div class="invoice-items-ready-to-ship">
  <% @merchant.invoice_items_to_ship.each do |invoice_item| %>
    <%= invoice_item.find_item_name %><br>
  <% end %>
</div>
