<%= link_to 'Create New Merchant', new_admin_merchant_path %>

<section id='enabled-merchants'>
  <h1>Enabled Merchants</h1>
  <% @merchants.enabled_merchants.each do |merchant| %>
    <section id='merchant-<%= merchant.id %>'>
      <%= link_to merchant.name, admin_merchant_path(merchant) %><br>
      <%= render partial: 'button', locals: {
                                              button_text: 'Disable',
                                              merchant: merchant,
                                              enabled: false
                                            } %>
    </section>
  <% end %>
</section>

<section id='disabled-merchants'>
  <h1>Disabled Merchants</h1>
  <% @merchants.disabled_merchants.each do |merchant| %>
    <section id='merchant-<%= merchant.id %>'>
      <%= link_to merchant.name, admin_merchant_path(merchant) %><br>
      <%= render partial: 'button', locals: {
                                              button_text: 'Enable',
                                              merchant: merchant,
                                              enabled: true
                                            } %>
    </section>
  <% end %>
</section>

<section id='top-five-merchants'>
  <h1>Top Five Merchants by Revenue</h1>
  <ol>
    <% @merchants.top_five_merchants_by_revenue.each do |merchant| %>
      <section id='top-merchant-<%= merchant.id %>'>
        <li>
          <%= link_to merchant.name, admin_merchant_path(merchant) %> - <%= number_to_currency(merchant.revenue / 100.00) %> in sales<br>
        </li>
      </section>
    <% end %>
  </ol>
</section>
