<center><h1>Little Esty Shop</h1></center><br>

<h3><%= @merchant.name %></h3><br>

<center><p>Invoice #<%= @invoice.id %></p></center>

<p>Status: <%= @invoice.status %></p>
<p>Created on: <%= @invoice.created_at.strftime("%A, %B %-d, %Y") %></p>

<h3>Customer:</h3>
<p><%= @customer.first_name + ' ' + @customer.last_name %></p><br>

<p>Items on this Invoice:</p>
<% @items.each do |item| %>
<div id="item_<%=item.id%>">
  <p>Name: <%= item.name %></p>
  <p>Quantity: <%= item.quantity %></p>
  <p>Price: <%= item.price_sold %></p>
  <p>Status: <%= item.status %></p>
<% end %>
</div>
