<center><h1>Little Esty Shop</h1></center><br>

<h3><%= @merchant.name %></h3><br>

<center><p>Invoice #<%= @invoice.id %></p></center>

<p>Status: <%= @invoice.status %></p>
<p>Created on: <%= @invoice.formatted_time %></p>
<p>Total Revenue: <%= number_to_currency(@invoice.invoice_total_revenue.to_f / 100) %></p>

<h3>Customer:</h3>
<p><%= @invoice.customer.first_name + ' ' + @invoice.customer.last_name %></p><br>

<p>Items on this Invoice:</p>
<% @merchant.invoice_items_for_invoice(@invoice.id).each do |item| %>

<div id="item_<%=item.id%>">
  <p>Name: <%= item.find_item_name %></p>
  <p>Quantity: <%= item.quantity %></p>
  <p>Price: <%= number_to_currency(item.unit_price / 100.00) %></p>
  <p>Status: <%= item.status %></p>
<% end %>
</div>
